.saved-cards {
  width: 100%;
  flex: 1;
}

.saved-cards__content {
  width: 100%;
  padding: 60px 0;
  background-color: #f5f6f7;
}

.saved-cards__container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.saved-cards__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .saved-cards__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .saved-cards__grid {
    grid-template-columns: 1fr;
  }
}